@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-gray: hsl(0, 0%, 95%);
  --color-gray-dark: hsl(0, 0%, 30%);
  --color-orange: hsl(16, 67%, 55%);
  --color-orange-light: hsl(16, 67%, 70%);
}

:root {
  --medium-elevation-shadow: 0 2px 5px hsl(0, 0%, 0%, 20%);
  --low-elevation-shadow: 0 2px 2px hsl(0, 0%, 0%, 20%);
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 100px;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

body,
input,
button {
  font-family: 'arimo', 'sans-serif';
}

body {
  background: var(--color-gray);
}

.app-container {
  margin-inline: auto;
  width: min(90%, 600px);
}

.button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.button-orange {
  background: var(--color-orange);
  color: white;
}

.button-orange-light {
  background: var(--color-orange-light);
  color: white;
}

.todos-status {
  font-weight: bold;
  margin: 2rem 0;
}

.todos-container {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}

.todos-congrats-message {
  align-items: center;
  color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
}

.todos-congrats-message-icon {
  font-size: 3rem;
}

.todo {
  align-items: center;
  animation: appear 1s forwards;
  background: white;
  border-radius: 5px;
  box-shadow: var(--low-elevation-shadow);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: box-shadow 200ms;
}

.todo:hover {
  box-shadow: var(--medium-elevation-shadow);
}

.todo-title {
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
}

